{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="background-container">
  <div class="row m-0">
    <div class="col">
      <div class="card col-8 m-2">
        <h1>
          ALCI
        </h1>
        <p>
          The Association of Landscape Contractors of Ireland (ALCI) was founded in 1971 as a representative body for
          the developing landscape sector. From its inception it has endeavoured to improve the quality and standards in
          the landscape industry in Ireland. ALCI has two regional offices, the Northern Region and Southern Region.

          ALCI is the leading professional body for landscape contractors in Ireland with over 150 members across both
          regions.

          As a potential client, whether you are looking for a professional landscape contractor to design and construct
          a small private garden or manage a large commercial landscaping project, you will find them here.

          As well as our Full Contracting Members we also have a Trade membership which encompasses a wide range of
          associated companies supplying goods and services to the Landscape sector.
        </p>
      </div>
      <div class="card col-4 m-2">
        <img src="../../../media/awards.jpg" class="card-img-top m-0 col-4" alt="Image of awards">
        <div class="card-body">
          <h5 class="card-title">ALCI Awards 2023</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore
            eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit
            anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}