html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../../media/background_sample.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none !important;
    color: #555;
    cursor: pointer;
}

footer {
    height: 3.5rem;
    background-color: #f7f7f7;
    width: 100%;
    position: absolute;
    bottom: 0px;
}